@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-image: linear-gradient(to bottom right, #5e9fa3, #dcd1b4);
}

.cabeca{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem{
    height: 72px;

}
.cabeca-menu{
    display: flex;
    gap: 32px;
}
.cabeca-item{
    font-family: 'Sarala', sans-serif;
    color: #30374f;
    font-weight: 400px;
    font-size: 18px;
}

.conteudo{
border-top: 0.4px solid #30374f;
padding: 2px;
margin-bottom: 48px;
}

.conteudo-principal{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;

}
.conteudo-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-titulo{
    font-family: 'righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color:#30374f ;
}

.conteudo-subtitulo{
    font-family: 'Sarala', sans-serif;
    color: #30374f;
    font-weight: 400px;
    font-size: 18px;
}

.conteudo-botao{
    font-family: 'righteous', cursive;
    height: 35px;
    width: 180px;
    background-color: #3ddb8f;
    border-radius: 8px;
    border: 2px solid #2cb8b2;
    box-shadow: 4px 5px 4px black ;
    font-size: 18px;
    
}
.conteudo-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
}
.conteudo-imagem{
    height: 300px;

}
.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
  }
  .conteudo-secundario{
    border-top: 0.4px solid #30374f;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 15px;
    color: #30374f;
    margin-bottom: 16px;
  }

  .paragrafo-secundario{
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #30374f;
  }
  
  .rodape {
      padding: 32px;
      border-top: 0.4px solid #30374f;;
  }
.rodape-img{
    height: 150px;
    width: 50%;
   margin-left: 25%;
    border-radius: 10px;

}

